@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --explore_padding-inline: 60px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @media (max-width: 1440px) {
  :root {
    --explore_padding-inline: 40px;
  }
}

@media (max-width: 744px) {
  :root {
    --explore_padding-inline: 24px;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
